<button {{action "clickZendeskButton"}}
        class="btn zendesk {{topic.zendeskTicket.css_class}}"
        title={{topic.zendeskTicket.title}}>
  {{fa-icon "ticket"}}
  {{topic.zendeskTicket.text}}
</button>
