<section id="slack">
    <h1>Open Tickets on Forum</h1>
    <table>
        <tr>
            <th>Zendesk Ticket ID</th>
            <th>Forum Topic ID</th>
            <th>Subject</th>
            <th>Status</th>
            <th>URL</th>
            <th>Date Created</th>
        </tr>

      {{#each model as |ticket|}}
          <tr class="">
              <td>{{ticket.id}}</td>
              <td>{{ticket.forum_topic_id}}</td>
              <td>
                  <a href='{{ticket.forum_link}}' target="_blank">{{ticket.subject}}</a>
              </td>
              <td>{{ticket.status}}</td>
              <td>
                  <a href='{{ticket.base_url}}/agent/tickets/{{ticket.id}}' target="_blank">{{ticket.url}}</a>
              </td>
              <td>{{ticket.created_at}}</td>
          </tr>
      {{/each}}
    </table>
</section>
